@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;700&display=swap');

* {
  margin: 0;
  box-sizing: border-box;
}

:root {
  --body-bg-color: #ECECEC;

  --primary-text-color: #1E1E1E;
  --scondary-text-color: #454545;
  --header-text-color: #454545;
  --link-color: black;

  --button-color: #454545;
  --button-text-color: #ececec;

  --h2-border-color: #ecebeb;
  --spacing-amount: 2.5rem;

  --input-border-color: #ecebeb;
  --form-border-color: #ecebeb;
  --form-background-color: #f1f1f1;

  --links-container-border-color: #6B6868;
  --links-container-bg-color: #4E4D4D;
  --links-container-hover: #727070;
}

body {
  font-family: "Rubik", sans-serif;
  font-size: 16px;
}

main {
  padding: 0 var(--spacing-amount);
}

p {
  font-weight: 300;
  line-height: 1.75rem;
  margin: var(--spacing-amount) 0;
}

a {
  text-decoration: none;
  color: var(--link-color);
  font-weight: bold;
}

a:visited {
  color: var(--link-color);
}

a:not(.primary-btn):hover {
  border-bottom: solid 1px var(--link-color);
}

.screenshot {
  width: 100%;
  height: auto;
  box-shadow: 4px 4px 8px var(--scondary-text-color);
  border-radius: 5px;
  display: block;
  margin: var(--spacing-amount) 0;
  max-width: 700px;
}

h1,
h2,
h3 {
  letter-spacing: 0.4rem;
  color: var(--header-text-color);
  margin: var(--spacing-amount) 0;
}

h2,
h3 {
  /* font-weight: 500; */
}

h2 {
  border-top: solid 1px var(--h2-border-color);
  padding-top: var(--spacing-amount);
}

h3 {
  border-bottom: solid 1px #2c8ac9;
  border-right: solid 1px #2c8ac9;
  color: #2c8ac9;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: var(--spacing-amount) 0;
}

a.homepage-link:hover {
  border: none;
}

nav h1 {
  margin: 0 var(--spacing-amount);
}

nav ul {
  list-style-type: none;
  padding: 0;
  display: none;
}

.project-list {
  list-style-type: none;
  padding: 0;
}

.button-container {
  display: flex;
  justify-content: space-between;
}

a.primary-btn {
  display: inline-block;
  padding: 8px 30px;
  background-color: var(--button-color);
  color: var(--button-text-color);
  border-radius: 5px;
  font-weight: bold;
}

.send-btn {
  padding: 8px 30px;
  background-color: var(--button-color);
  color: var(--button-text-color);
  border-radius: 5px;
  font-weight: bold;
  border: none;
  font-family: inherit;
  font-size: 1rem;
  cursor: pointer;
}

.send-btn:active {
  background-color: var(--primary-text-color);
}

form {
  background-color: var(--form-background-color);
  margin-bottom: var(--spacing-amount);
  border: solid 1px var(--form-border-color);
  padding: 1rem;
  border-radius: 5px;
}

input,
textarea {
  font-family: inherit;
  font-size: 1rem;
  display: block;
  width: 100%;
  padding: 5px;
  border: solid 1px var(--input-border-color);
  border-radius: 5px;
  margin: 1rem 0;
}

label {
  font-weight: bold;
}

.links-list {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  ;

}

.links-list-item {
  border: solid 1px var(--links-container-border-color);
  border-radius: 5px;
  width: 200px;
  height: 200px;
}

.link-container {
  width: 100%;
  height: 100%;
  padding: 1rem;


  background-color: var(--links-container-bg-color);

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  cursor: pointer;
}

a.link-container:hover {
  background-color: var(--links-container-hover);
  border: none;
}

a.link-container,
a.link-container:visited {
  color: white;
}

.link-container img {
  height: 120px;
  width: 120px;

}


@media (min-width: 800px) {
  nav ul {
    display: flex;
    gap: 1.5rem;
    margin-right: var(--spacing-amount);
  }

  main {
    max-width: 900px;
    margin: 0 auto;
  }

  .screenshot {
    display: block;
    margin: 0 auto;
  }

  .links-list {
    flex-direction: row;
  }
}